$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey-darken: #353535;
$bg-input: #EAEAEA;
$background: #F6F6F6;
$font-weight: 500;

$font-title: 'Shrikhand', serif;
$font-text: 'Roboto', sans-serif;

@mixin button {
    border: none;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    padding: 20px;
    font-weight: $font-weight;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.4s ease-out;

    &:hover {
        background: linear-gradient(#f78fd9, #906abe);
    }
}

@mixin boxShadow($x, $y, $blur, $opacity) {
    box-shadow: $x $y $blur rgba(0, 0, 0, $opacity);
}
/***************** Style Général *****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;
}

body {
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/************************ Header ************************/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__divImage {
        width: 100%;
        z-index: 1;
        @include boxShadow(0, 2px, 4px, 0.15);

        &__image {
            width: 200px;
            padding: 20px;
            display: block;
            margin: 0 auto;
        }
    }      

    &__divInput {
        width: 100%;
        position: relative;
        @include boxShadow(0, 4px, 4px, 0.25);

        &__input {
            width: 100%;
            text-align: center;
            background-color: $bg-input;
            border: none;
            padding: 20px;
            font-size: 16px;
            color: $grey-darken;
        }

        & i {
           position: absolute;
           left: 28%;
           top: 19px;
           color: $grey-darken;
           @media (min-width: 768px) {
            left: 40%;
           }
           @media (min-width: 1024px) {
            left: 42%;
           }
        }
    } 
}

/*********************** Introduction ***********************/
.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $background;
    padding: 30px;

    &__title {
        margin-bottom: 30px;
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    &__paragraphe {
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 18px;
        color: $grey-darken;
    }

    &__button {
        @include button;
    }
}

/*********************** Fonctionnement ***********************/
.fonctionnement {
    padding: 50px 30px;

    @media(min-width: 1200px) {
        padding: 30px 180px;
    }

    &__title{
        margin-bottom: 20px;
    }

    &__ol {
        counter-reset: nombre;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__li{
            list-style-type: none;
            counter-increment: nombre;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            height: 78px;
            background-color: $background;
            border-radius: 20px;
            font-weight: $font-weight;
            width: 100%;
            position: relative;
            padding-left: 40px;
            padding-right: 15px;
            @include boxShadow(0, 4px, 15px, 0.15);

            @media (min-width: 768px) {
                width: 30%;
            }

            &:before{
                content: counter(nombre);
                background-color: $color-primary;
                border-radius: 50%;
                padding: 5px 5px;
                color: white;
                font-weight: $font-weight;
                display: inline-block;
                width: 24px;
                height: 24px;
                text-align: center;
                position: absolute;
                left: -13px;
                top: 20px;
            }

            &__icon {
                margin-right: 20px;
                color: #7E7E7E;

                &--color{
                    color: $color-primary;
                }
            }
        }
        
    }
}