@use '../utils/variables.scss';
@use '../utils/mixins.scss';

/************************ Header ************************/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__lien{
        position: absolute;
        left: 30px;
        top: 25px;
        color: black;
        z-index: 1;
    }

    &__divLogo {
        width: 100%;
        z-index: 1;
        position: relative;
        @include mixins.boxShadow(0, 2px, 4px);

        &__logo {
            width: 200px;
            padding: 20px;
            display: block;
            margin: 0 auto;
        }
    }      

    &__div {
        width: 100%;
        color: variables.$grey-darken;
        background-color: variables.$bg-input;
        padding: 20px;
        text-align: center;
        @include mixins.boxShadow(0, 4px, 4px, 0.25);

        &__span {
            font-size: 16px;
            font-weight: 500;
        }

        & i {
            margin-right: 10px;
        }
    } 
}